@inject IJSRuntime JSRuntime

<div id="editor" contenteditable="true">@Content</div>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter] public string Content { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeCKEditor", Id, DotNetObjectReference.Create(this));
            //await JSRuntime.InvokeVoidAsync("setEditorContent", Id, Content);
        }
    }

    [JSInvokable]
    public void OnContentChanged(string newContent)
    {
        Content = newContent;
        // Puedes realizar alguna acción adicional aquí si lo deseas.
    }
}
